<%= form_with(model: estacionamiento, local: true) do |form| %>
  <% if estacionamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estacionamiento.errors.count, "error") %> prohibited this estacionamiento from being saved:</h2>

      <ul>
      <% estacionamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :estacionamiento_descripcion %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo, id: :estacionamiento_tipo %>
  </div>

  <div class="field">
    <%= form.label :id_proveedor %>
    <%= form.number_field :id_proveedor, id: :estacionamiento_id_proveedor %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :estacionamiento_direccion %>
  </div>

  <div class="field">
    <%= form.label :latitud %>
    <%= form.text_field :latitud, id: :estacionamiento_latitud %>
  </div>

  <div class="field">
    <%= form.label :longitud %>
    <%= form.text_field :longitud, id: :estacionamiento_longitud %>
  </div>

  <div class="field">
    <%= form.label :altitud %>
    <%= form.text_field :altitud, id: :estacionamiento_altitud %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado, id: :estacionamiento_estado %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :estacionamiento_precio %>
  </div>

  <div class="field">
    <%= form.label :moneda %>
    <%= form.text_field :moneda, id: :estacionamiento_moneda %>
  </div>

  <div class="hide">
    <%= form.submit'send',id: :'submit-parking-form' %>
  </div>
<% end %>
