<%= form_with(model: estacionamiento, local: true) do |form| %>
  <% if estacionamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estacionamiento.errors.count, "error") %> prohibited this estacionamiento from being saved:</h2>

      <ul>
      <% estacionamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
    <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">insert_comment</i>
        <%= form.label :descripcion %>
        <%= form.text_area :descripcion, id: :estacionamiento_descripcion,class: :'materialize-textarea' %>
    </div>
      <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
      
        <%= form.number_field :tipo, id: :estacionamiento_tipo %>
          <%= form.label :tipo %>
    </div>

      <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
      
    <%= form.number_field :id_proveedor, id: :estacionamiento_id_proveedor %>
    <%= form.label :id_proveedor %>
    </div>

      <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
      <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :estacionamiento_direccion %>
    </div>

     <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
         <%= form.label :latitud %>
    <%= form.text_field :latitud, id: :estacionamiento_latitud %>
    </div>



    <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
            <%= form.label :longitud %>
    <%= form.text_field :longitud, id: :estacionamiento_longitud %>
    </div>

       <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
    <%= form.label :altitud %>
    <%= form.text_field :altitud, id: :estacionamiento_altitud %>
    </div>

          <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
   <%= form.label :estado %>
    <%= form.check_box :estado, id: :estacionamiento_estado %>
    </div>

       <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
      <%= form.label :precio %>
    <%= form.text_field :precio, id: :estacionamiento_precio %>
    </div>

         <div class="input-field col s12 m12 l6 xl6">
       <i class="material-icons prefix">merge_type</i>
      <%= form.label :moneda %>
    <%= form.text_field :moneda, id: :estacionamiento_moneda %>
    </div>
 </div>
  <div class="hide">
    <%= form.submit'send',id: :'submit-parking-form' %>
  </div>
<% end %>
