<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Direccion</th>
      <th>Genero</th>
      <th>Usuario</th>
      <th>Contrasenia</th>
      <th>Estado</th>
      <th>Tipo usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.apellidos %></td>
        <td><%= user.edad %></td>
        <td><%= user.direccion %></td>
        <td><%= user.genero %></td>
        <td><%= user.usuario %></td>
        <td><%= user.contrasenia %></td>
        <td><%= user.estado %></td>
        <td><%= user.tipo_usuario %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
