   <div class="navbar-fixed">
 <nav class="blue-grey darken-3">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">WANT PARK <%=@show_modal%></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right ">
       <li class="hide-on-med-and-down">
        	<%= link_to("login/index",{'class':'waves-effect waves-light btn indigo darken-4'}) do %>
 <i class="material-icons right">arrow_forward_ios</i>ACCEDER
<% end %>
        </li>
        <li class="hide-on-med-and-down">
        	
 <a class="waves-effect waves-light btn modal-trigger" href="#register-modal"><i class="material-icons right">person_add</i>REGISTRARSE</a>
        </li>
        <li class="hide-on-med-and-up">
          <a><i class="material-icons">search</i></a>
        </li>                
      
      </ul>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
    <li>
      <%=link_to 'Acceder',controller:'login',action:'index'%>
    </li>
    <li>
        <%=link_to 'Registrarse',controller:'sign_up',action:'index'%>
    </li>
  </ul>

  <div home-search-bar class="hide-on-med-and-down">
  		<nav class="white">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required placeholder="Adónde vas?">
          <label class="label-icon" for="search"><i class="material-icons  black-text">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  </div>
<div class="parallax-container">
    <div class="parallax">
    	<img src="<%=image_path 'home-map.png'%>">

    </div>
</div> 
<div class="section white">
    <div class="row container">
       <div class="col s12 m12 l4 xl4 center">
        <i class="material-icons medium">search</i>
          <h5 class="header">Buscar</h5>
          <p class="grey-text text-darken-3 lighten-3">
            Encuentre el estacionamiento más barato y más cercano a su destino
          </p>
       </div>
        <div class="col s12 m12 l4 xl4 center">
        <i class="material-icons medium">payment</i>
          <h5 class="header">Pagar</h5>
          <p class="grey-text text-darken-3 lighten-3">
            Obtenga un lugar de estacionamiento garantizado por adelantado con su tarjeta de crédito.
          </p>
       </div>
        <div class="col s12 m12 l4 xl4 center">
        <i class="material-icons medium">directions_car</i>
          <h5 class="header">Parquear</h5>
          <p class="grey-text text-darken-3 lighten-3">
           Dirígete a tu destino y encontrarás un lugar esperándote.
          </p>
       </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="<%=image_path 'home-map.png'%>"></div>
</div>
 <div id="register-modal" class="modal">
    <div class="modal-content">
        <%=render 'users/form',user:@user%>
    </div>
    <div class="modal-footer">
      <a  class="pointer  waves-effect waves-green btn-flat" onclick="form_submit('submit_user_form')">
        Guardar
      </a>
      <a  class="pointer modal-close waves-effect waves-green btn-flat">
        Cancelar
      </a>
    </div>
  </div>
  <%if @show_modal%>
  <script>

    builtModal(true);
  </script>
      <%end%>
  
